#.gitignore

# local configuration files
*/local/*

# local metadata
*/metadata/local.meta

# lookups dir
*/lookups

# Compiled Python files
*.pyo
*.pyc

# Backup files
*~
*/default.old*

# pycharm
.idea

# Read the doc & Sphinx
docs/_build
docs/_static
docs/_templates

# backups local
backups

# spl
*.spl

# Mac OS X cached files
.DS_Store

# Visual Basic Code
.vscode

# appinspect reports
appinspect_report*.html
