.checkbox{
  width:5px;
  height:20px;
  border: 1px solid #000;
  display: inline-block;
}
.checkbox.checked:after{
   position: relative;
   /*Add another block-level blank space*/
   content: '';
   display: block;
   /*Make it a small rectangle so the border will create an L-shape*/
   width: 3px;
   height: 10px;
   left: -10px;
   /*Add a white border on the bottom and left, creating that 'L' */
   border: solid #000;
   border-width: 0 2px 2px 0;
   /*Rotate the L 45 degrees to turn it into a checkmark*/
   transform: rotate(45deg);
 }