.container-trackme-inputs {
	display: flex;
	flex-wrap: wrap;
}

.item-trackme-inputs {
	order: 5;
	/* default is 0 */
	margin-top: -10px;
}

.fieldset {
	margin-top: -10px !important;
	margin-bottom: -10px !important;
}

.custom-btn {
	float: left;
	margin-top: 15px;
}


/* handle search elements */

.search-elements {
	display: none !important;
	position: absolute;
}


/* hide this */

.splunk-choice-input-message {
	display: none !important;
}


/* modal header classes */

.modal-header-info h1 {
	color: #A7C7E7;
}


/* modal header classes */

.modal-header-success h1 {
	color: #77dd77;
}


/* modal header classes */

.modal-header-danger h1 {
	color: #ff6961;
}


/* bocklist top panels */

.blocklist-toppanels {
	margin-top: 10px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}


/* Fix an issue with dark theme */

.dashboard-row .dashboard-panel .panel-footer.show,
.dashboard-row .dashboard-panel .dashboard-element:hover .panel-footer {
	background-color: inherit;
	!important
}


/* Handle label for Splunk inputs */

.splunk-input-label {
	margin-left: 12px;
}


/* Additional modal sizes */

.modal-big {
	height: 800px;
	max-height: 400%;
	width: 80%;
	margin-left: -40%;
}

.modal-guts {
	/* For Splunk 7.0.x */
	/* margin-top: 30px; */
	/* other stuff we already covered */
	/* cover the modal */
	position: absolute;
	width: 90%;
	min-height: 50px;
	max-height: 650px;
	height: 100%;
	/* spacing as needed */
	padding: 20px 50px 20px 20px;
	/* let it scroll */
	overflow: auto;
}


/* img headers */

.imgheader {
	margin-top: 10px;
	margin-bottom: 40px;
}

.imgheader img {
	float: left;
	width: 48px;
	height: 48px;
}

.imgheader h1 {
	color: lightslategrey;
	text-align: left;
	position: relative;
	top: 9px;
	left: 10px;
}

.imgheader h3 {
	position: relative;
	top: 14px;
	left: -10px;
}

.imgheader {
	margin-top: 10px;
	margin-bottom: 40px;
}

.imgheader36 img {
	float: left;
	width: 36px;
	height: 36px;
}

.imgheader36 h1 {
	color: lightslategrey;
	text-align: left;
	position: relative;
	top: 9px;
	left: 10px;
}

.imgheader36 h3 {
	position: relative;
	top: 8px;
	left: -10px;
}

.imgminiheader img {
	position: relative;
	top: -4px;
}


/* span titles */

span.title_yellow {
	background: #ffd700;
	padding: 0.3em 1.5em;
	font-weight: 600;
	position: relative;
	border-radius: 5px;
	margin-left: 5px;
	color: darkslategray;
}

span.title_orange {
	background: #ffb347;
	padding: 0.3em 1.5em;
	font-weight: 600;
	position: relative;
	border-radius: 5px;
	margin-left: 5px;
	color: darkslategray;
}

span.title_blue {
	background: #89cff0;
	padding: 0.3em 1.5em;
	font-weight: 600;
	position: relative;
	border-radius: 5px;
	margin-left: 5px;
	color: darkslategray;
}

span.title_green {
	background: #77dd77;
	padding: 0.3em 1.5em;
	font-weight: 600;
	position: relative;
	border-radius: 5px;
	margin-left: 5px;
	color: darkslategray;
}

span.title_red {
	background: #ff6961;
	padding: 0.3em 1.5em;
	font-weight: 600;
	position: relative;
	border-radius: 5px;
	margin-left: 5px;
	color: darkslategray;
}

span.title_grey {
	background: #808080;
	padding: 0.3em 1.5em;
	font-weight: 600;
	position: relative;
	border-radius: 5px;
	margin-left: 5px;
	color: darkslategray;
}

span.title_low_priority {
	background: #cce5ff;
	padding: 0.3em 1.5em;
	font-weight: 600;
	position: relative;
	border-radius: 5px;
	margin-left: 5px;
	color: darkslategray;
}

span.title_medium_priority {
	background: #7fbfff;
	padding: 0.3em 1.5em;
	font-weight: 600;
	position: relative;
	border-radius: 5px;
	margin-left: 5px;
	color: darkslategray;
}

span.title_high_priority {
	background: #3298ff;
	padding: 0.3em 1.5em;
	font-weight: 600;
	position: relative;
	border-radius: 5px;
	margin-left: 5px;
	color: darkslategray;
}

.status_message_orange {
	background-color: #ffb347;
	margin: 30px 0;
	padding: 10px;
	border-radius: 3px 3px 3px 3px;
}

.status_message_blue {
	background-color: #A7C7E7;
	margin: 30px 0;
	padding: 10px;
	border-radius: 3px 3px 3px 3px;
}

.status_message_green {
	background-color: #77dd77;
	margin: 30px 0;
	padding: 10px;
	border-radius: 3px 3px 3px 3px;
}

.status_message_red {
	background-color: #ff6961;
	margin: 30px 0;
	padding: 10px;
	border-radius: 3px 3px 3px 3px;
}

.generic_message_blue {
	background-color: #cfebf9;
	margin: 30px 0;
	padding: 10px;
	border-radius: 3px 3px 3px 3px;
}


/* Timeline viz */

.ccat-green {
	fill: #77dd77 !important;
	stroke: #77dd77 !important;
}

.ccat-red {
	fill: #ff6961 !important;
	stroke: #ff6961 !important;
}

.ccat-blue {
	fill: #89cff0 !important;
	stroke: #89cff0 !important;
}

.ccat-orange {
	fill: #ffb347 !important;
	stroke: #ffb347 !important;
}

.ccat-yellow {
	fill: #ffd700 !important;
	stroke: #ffd700 !important;
}

.ccat-grey {
	fill: #808080 !important;
	stroke: #808080 !important;
}


/*** Buttons ***/

.btn {
	background-color: black !important;
}

.btn:hover {
	background-color: #31373e !important;
}


/* Bootstrap btns */

.btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn-primary:hover {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
}

.btn-primary:focus,
.btn-primary.focus {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
	box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #0062cc;
	border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-danger {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.btn-danger:hover {
	color: #fff;
	background-color: #c82333;
	border-color: #bd2130;
}

.btn-danger:focus,
.btn-danger.focus {
	color: #fff;
	background-color: #c82333;
	border-color: #bd2130;
	box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn-danger.disabled,
.btn-danger:disabled {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show>.btn-danger.dropdown-toggle {
	color: #fff;
	background-color: #bd2130;
	border-color: #b21f2d;
}

.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-danger.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn-info {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.btn-info:hover {
	color: #fff;
	background-color: #138496;
	border-color: #117a8b;
}

.btn-info:focus,
.btn-info.focus {
	color: #fff;
	background-color: #138496;
	border-color: #117a8b;
	box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn-info.disabled,
.btn-info:disabled {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.show>.btn-info.dropdown-toggle {
	color: #fff;
	background-color: #117a8b;
	border-color: #10707f;
}

.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.show>.btn-info.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn-warning {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
}

.btn-warning:hover {
	color: #212529;
	background-color: #e0a800;
	border-color: #d39e00;
}

.btn-warning:focus,
.btn-warning.focus {
	color: #212529;
	background-color: #e0a800;
	border-color: #d39e00;
	box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.btn-warning.disabled,
.btn-warning:disabled {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
}

.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.show>.btn-warning.dropdown-toggle {
	color: #212529;
	background-color: #d39e00;
	border-color: #c69500;
}

.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.show>.btn-warning.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.btn-success {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
}

.btn-success:hover {
	color: #fff;
	background-color: #218838;
	border-color: #1e7e34;
}

.btn-success:focus,
.btn-success.focus {
	color: #fff;
	background-color: #218838;
	border-color: #1e7e34;
	box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-success.disabled,
.btn-success:disabled {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show>.btn-success.dropdown-toggle {
	color: #fff;
	background-color: #1e7e34;
	border-color: #1c7430;
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-light {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn-light:hover {
	color: #212529;
	background-color: #e2e6ea;
	border-color: #dae0e5;
}

.btn-light:focus,
.btn-light.focus {
	color: #212529;
	background-color: #e2e6ea;
	border-color: #dae0e5;
	box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.btn-light.disabled,
.btn-light:disabled {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show>.btn-light.dropdown-toggle {
	color: #212529;
	background-color: #dae0e5;
	border-color: #d3d9df;
}

.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.show>.btn-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.btn-dark {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
}

.btn-dark:hover {
	color: #fff;
	background-color: #23272b;
	border-color: #1d2124;
}

.btn-dark:focus,
.btn-dark.focus {
	color: #fff;
	background-color: #23272b;
	border-color: #1d2124;
	box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-dark.disabled,
.btn-dark:disabled {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
}

.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active,
.show>.btn-dark.dropdown-toggle {
	color: #fff;
	background-color: #1d2124;
	border-color: #171a1d;
}

.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn-dark:not(:disabled):not(.disabled).active:focus,
.show>.btn-dark.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-outline-primary {
	color: #fff;
	border-color: #007bff;
}

.btn-outline-primary:hover {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
	color: #5c6773;
	background-color: transparent;
	border-color: #6c757d;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-secondary {
	color: #fff;
	border-color: #6c757d;
}

.btn-outline-secondary:hover {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
	color: #6c757d;
	background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show>.btn-outline-secondary.dropdown-toggle {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-success {
	color: #28a745;
	border-color: #28a745;
}

.btn-outline-success:hover {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
}

.btn-outline-success:focus,
.btn-outline-success.focus {
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
	color: #28a745;
	background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show>.btn-outline-success.dropdown-toggle {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-info {
	color: #fff;
	border-color: #17a2b8;
}

.btn-outline-info:hover {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.btn-outline-info:focus,
.btn-outline-info.focus {
	box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-info.disabled,
.btn-outline-info:disabled {
	color: #17a2b8;
	background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:not(:disabled):not(.disabled).active,
.show>.btn-outline-info.dropdown-toggle {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-info.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-warning {
	color: #fff;
	border-color: #ffc107;
}

.btn-outline-warning:hover {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
}

.btn-outline-warning:focus,
.btn-outline-warning.focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-warning.disabled,
.btn-outline-warning:disabled {
	color: #ffc107;
	background-color: transparent;
}

.btn-outline-warning:not(:disabled):not(.disabled):active,
.btn-outline-warning:not(:disabled):not(.disabled).active,
.show>.btn-outline-warning.dropdown-toggle {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-warning.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-danger {
	color: #fff;
	border-color: #dc3545;
}

.btn-outline-danger:hover {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.btn-outline-danger:focus,
.btn-outline-danger.focus {
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
	color: #dc3545;
	background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active,
.show>.btn-outline-danger.dropdown-toggle {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-danger.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-light {
	color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn-outline-light:hover {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn-outline-light:focus,
.btn-outline-light.focus {
	box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-light.disabled,
.btn-outline-light:disabled {
	color: #f8f9fa;
	background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled).active,
.show>.btn-outline-light.dropdown-toggle {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-dark {
	color: #343a40;
	border-color: #343a40;
}

.btn-outline-dark:hover {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
}

.btn-outline-dark:focus,
.btn-outline-dark.focus {
	box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-dark.disabled,
.btn-outline-dark:disabled {
	color: #343a40;
	background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled):active,
.btn-outline-dark:not(:disabled):not(.disabled).active,
.show>.btn-outline-dark.dropdown-toggle {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-dark.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-link {
	font-weight: 400;
	color: #007bff;
	text-decoration: none;
}

.btn-link:hover {
	color: #0056b3;
	text-decoration: underline;
}

.btn-link:focus,
.btn-link.focus {
	text-decoration: underline;
}

.btn-link:disabled,
.btn-link.disabled {
	color: #6c757d;
	pointer-events: none;
}

.btn-lg,
.btn-group-lg>.btn {
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: 0.3rem;
}

.btn-sm,
.btn-group-sm>.btn {
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	line-height: 1.5;
	border-radius: 0.2rem;
}

.btn-block {
	display: block;
	width: 100%;
}

.btn-block+.btn-block {
	margin-top: 0.5rem;
}


/* Prevents green disabled button */

.btn-primary[disabled] {
	background-color: #007bff !important;
	opacity: .40;
}


/* Manage disabled red */

.btn-danger[disabled] {
	background-color: #dc3545 !important;
	opacity: .40;
}